<header class="navbar navbar-fixed navbar-default">
	<div class='navbar-inner'>
		<div class='container'>
		   <%= link_to 'ShareM!!', root_path, id: "logo" %>
		   <!-- <%= link_to image_tag("hap_logo.png", alt: "Hap"), root_path %>
            <img alt="Hap" src="/assets/hap_logo.png"> -->
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Sign in", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>